body {
	background-color: black;
}

#calc {
  margin: auto;
  margin-top: 14%;
  background-color: grey;
  width: 350px;
  height: 500px;
  padding-top: 0px; 
}

.calcButton { 
  margin-left: 8px;
  margin-top: 10px;
  width: 75px;
  height: 50px;
}

#display {
  display: inline-block;
  margin-left: 8px;
  margin-top:  10px;
  background-color: white;
  width: 333px;
  height: 50px;
}